    /* CSS Reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif, arial;
    line-height: 1.6;
    color: #000000;
    background-color: rgb(205, 209, 157);
    }
header h1 {
    color: #000000;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

p {
    text-align: center;
    color: #000000;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
    width: 65%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1% 5% 1% 5%;
    gap: 5px;
    
}


label {
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5;
    
}

input {
    padding: 5px;
    font-size: 20px;
    border: 2px solid #460996;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 0;
    cursor: pointer;
    margin-top: 5px;
    
}
button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #460996;
    color: #ffffff;
    border-top: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
}
.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
